[[source]]
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]

[packages.forestbot]
git = "https://github.com/mobilecoinofficial/forest"
ref = "pip"
